body {
    padding-bottom: 175px;
}

pagination {
    display: center;
}

.navbar-default .navbar-brand {
   font-family: 'Lobster Two', cursive;
   font-weight: bold;
   font-size: 26px;
}

.btn {
    border-radius: 5px;
}

.color {
    background-color: #cce6ff;
}

.round {
    border-radius: 10px;
    padding : 10px;
}

h1, p {
    word-wrap: break-word;
}